@charset "UTF-8";
@import url("../generalStyle.css");

/*======================================
			STILE HOME
======================================*/


/* Reset di base */
* {
   
    margin: 0;
    padding: 0;
}

body {
    /*  font pixel a tutto il sito */
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3rem; 
    background-color: #f8f9fa;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* --- BANNER --- */
.banner-container {
    width: 100%;
    height: 40rem;
    /* margin-top: 1rem; */
    overflow: hidden; /* Evita che l'immagine "sbordi" in situazioni strane */
    margin-bottom: 1rem;
}

.banner-img {
    width: 100%;      /* Occupa sempre tutto lo schermo in larghezza */
    height: 100%; 
    display: block;   
    object-fit: cover;
    object-position: center; 
}


/* --- TESTO SUL BANNER --- */
.banner-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il testo  */
    text-align: center;
    color: #ffffff;
    width: 90%;
}

.banner-text h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 5.5rem; /* Titolo bello grande */
    margin-bottom: 0.5rem;
    /* Ombreggiatura doppia stile 8-bit (Blu + Nera) per staccarlo dallo sfondo */
    text-shadow: 0.2rem 0.2rem 0 #0000a6, 0.4rem 0.4rem 0 #000000;
}

.banner-text p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-shadow: 0.15rem 0.15rem 0 #000000;
}


/* --- CARD PRODOTTO  IMPORTATO DALLO STILE GENERALE--- */


/* --- RESPONSIVE DESIGN --- */

/* Tablet (Schermi medi) */
@media screen and (max-width: 900px) {
    .product-grid {
        grid-template-columns: 1fr 1fr; /* Passa a 2 colonne */
    }
    
    .banner-text {
    top: 50%;
    left: 50%;
   }
}

/* Smartphone (Schermi piccoli) */
@media screen and (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; /* Passa a 1 colonn*/
    }
    
    .banner-text h1 {
        font-size: 2.5rem; 
    }
    
    .banner-text p {
        font-size: 1.2rem;
    }
}
    