@charset "UTF-8";
@import url("../generalStyle.css");

/*======================================
			STILE HOME
======================================*/


/* Reset di base */
* {
   
    margin: 0;
    padding: 0;
}

body {
    /* Applichiamo il font pixel a tutto il sito */
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3rem; 
    background-color: #f8f9fa;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* --- BANNER --- */
.banner-container {
    width: 100%;
    /* margin-top: 1rem; */
    overflow: hidden; /* Evita che l'immagine "sbordi" in situazioni strane */
    margin-bottom: 1rem;
}

.banner-img {
    width: 100%;      /* Occupa sempre tutto lo schermo in larghezza */
    height: auto;     /* calcola l'altezza in automatico senza schiacciare l'immagine */
    display: block;   
    object-fit: cover; /* Se il contenitore dovesse restringersi troppo, taglia i bordi invece di deformare i pixel */
}



/* --- CARD PRODOTTO  IMPORTATO DALLO STILE GENERALE--- */


/* --- RESPONSIVE DESIGN --- */

/* Tablet (Schermi medi) */
@media screen and (max-width: 900px) {
    .product-grid {
        grid-template-columns: 1fr 1fr; /* Passa a 2 colonne */
    }
}

/* Smartphone (Schermi piccoli) */
@media screen and (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; /* Passa a 1 colonn*/
    }
    
}