@charset "UTF-8";
@import url("../generalStyle.css");

/*======================================
			STILE HOME
======================================*/


/* Reset di base (Classico per evitare spazi indesiderati) */
* {
   
    margin: 0;
    padding: 0;
}

body {
    /* Applichiamo il font pixel a tutto il sito */
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3rem; /* Leggermente più grande perché i font pixel rendono meno */
    background-color: #f8f9fa;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* --- BANNER --- */
.banner-container {
    width: 100%;
    /* margin-top: 1rem; (Opzionale: se vuoi staccarlo un po' dall'header) */
    overflow: hidden; /* Evita che l'immagine "sbordi" in situazioni strane */
    margin-bottom: 1rem;
}

.banner-img {
    width: 100%;      /* Occupa sempre tutto lo schermo in larghezza */
    height: auto;     /* FONDAMENTALE: calcola l'altezza in automatico senza schiacciare l'immagine */
    display: block;   /* Rimuove un fastidioso spazietto bianco che i browser mettono sotto le immagini */
    object-fit: cover; /* Se il contenitore dovesse restringersi troppo, taglia i bordi invece di deformare i pixel */
}

/* --- SEZIONE PRODOTTI --- */
.product-section {
    margin-bottom: 60px;
}

.product-section h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-bottom: 3px solid #222; /* Linea divisoria stile wireframe */
    padding-bottom: 10px;
}

/* Griglia per le card (Metodo classico e pulito) */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 colonne di uguale larghezza */
    gap: 20px;
}

/* --- CARD PRODOTTO  IMPORTATO DALLO STILE GENERALE--- */


/* --- RESPONSIVE DESIGN --- */

/* Tablet (Schermi medi) */
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: 1fr 1fr; /* Passa a 2 colonne */
    }
}

/* Smartphone (Schermi piccoli) */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; /* Passa a 1 colonn*/
    }
    
    .banner-placeholder {
        height: 200px;
    }
    
    .banner-placeholder h1 {
        font-size: 1.8rem;
    }
}